@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.goog-logo-link,
.goog-te-gadget > span:first-child,
.goog-te-gadget > span:first-child + span {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
  color: #000 !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}

#google_translate_element {
  z-index: 1000;
}
